{% extends "basePage.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/style/log-in.css">
{% endblock %}

{% block normal_nav %}
<li class="nav-item">
    <a href="/" class="nav-link">Back</a>
</li>
{% endblock %}

{% block content %}
    <div id="log-in" class="col-xs-12 ">
                    <form method="POST" action="" >
                        <div class="border p-4">
                            <div class="md-form form-group w-50" style="margin-left: 25%">
                                {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid") }}
                                <div class="invalid-email">
                                    {% for error in form.email.errors %}
                                        <span>{{ error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control", placeholder="e-mail account") }}
                            {% endif %}
                            </div>

                            <div class="md-form form-group w-50" style="margin-left: 25%">
                                {% if form.password.errors %}
                                {{ form.password(class="form-control is-invalid") }}
                                <div class="invalid-password">
                                    {% for error in form.password.errors %}
                                        <span>{{ error}}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control", placeholder="your password") }}
                            {% endif %}
                            </div>
                        </div>
                        <div class="admin-log-in" >
                            <label>
                                {{ form.admin_log_in(type ="checkbox", value = 'admin') }}
                              Admin Login</label>
                        </div>
                        <input type="submit" class="btn btn-primary" value="log in">
                        <br>
                        <a href="/sign-up" >not have an account? create one now</a>
                    </form>
                </div>
{% endblock %}





