{% extends "basePage.html" %}

{% block links %}
<link rel="stylesheet" href="/static/style/newvote.css">
{% endblock %}

{% block admin_nav %}
<li class="nav-item">
    <a href="/vote/{{questionid }}" class="nav-link">Back</a>
</li>
{% endblock %}

{% block user_nav %}
<li class="nav-item">
    <a href="/vote/{{questionid }}" class="nav-link">Back</a>
</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
            <div class="content-part">
                <div class="create-title-part">
                    <form action="" method="post">
                        {{ form.title(class="create-title", placeholder="Enter the title") }}
                        <div class="create-description-part">
                        {{ form.description(class="create-description", placeholder="Enter the description") }}
                        </div>

                        <hr>
                        <div class="crate-submit-part">
                            <input type="submit" value="submit" class="btn btn-primary" id="submit" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}

{% endblock %}