html, body {
    height: 100%;
    width: 100%;
}

.create-title {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 50%;
}

.create-description {
    width: 50%;
    overflow: scroll;
}

.create-submit {
    height: 50px;
    width: 100px;
    margin-top: 30px;
    background-color: #2ecc71;
}

#submit {
    margin-left: 20%;
}


.content-part {
    margin-left: 30%;
}

#title{
    background-color: #343434;
    height: 55px;
    font-size: 20px;
    color: #f6f5f2;
    border-radius: 10px;
}

#description{
    background-color: #343434;
    height: 55px;
    font-size: 20px;
    color: #f6f5f2;
    border-radius: 10px;
}